#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  margin-top: 60px;
  /* background-image: url("Computer.jpg"); */
}

body{
    
    /* background-color: #416165; */
    background-image: url("");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
    color: black;
    
}


.form-control {

  width: 25%;
  text-align: center;
  
  margin-left: 38%;
  /* border-radius: 10px;
	padding: 30px; */
}
.loginForm{
  border-radius: 10px;
	padding: 10px;
  border: solid;
}

.button {
  background-color: #78b87a; 
  border: none;
  color: black;
  padding: 10px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 10px;

}