#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  margin-top: 60px;

}

body {
  margin: 0;
  padding: 0;
  
}

.container {

  background-color: #416165;
  /* background-image: url(/lab.jpeg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  width: 970px;
  margin-top: 65px;
  height: 80vh;


}

.parent {
  background-color: #78b87a;
}

.learner {
  background-color: #78b87a;
}

.teacher {
  background-color: #78b87a;
}


.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 970px;
  margin: 0 auto;
  background-color: rgb(122, 108, 108);
  color: white;
  text-align: center;

}

.footer div {
  display: inline-block;
  margin: 0 5px;
  justify-content: space-inbetween;
  padding-left: 25em;
  padding-right: 25em;
  margin: 1em
}

.form-control {

  width: 25%;
  text-align: center;
  margin-left: 38%;

}

.loginForm {
  border-radius: 10px;
  padding: 10px;
  border: solid;
}

.button {
  background-color: #78b87a;
  border: none;
  color: black;
  padding: 7px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 10px;
  justify-content: space-inbetween
}

.funky {
  font-family: 'Dancing Script', cursive;
  font-family: 'Lobster', cursive;

}

.levelsText {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Acme', sans-serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Lobster', cursive;
}

.someText {
  width: 60em;
  height: 20em;
}

.card {
  /* padding-left: 18rem; */
  margin-left: 7rem;
  font-size: medium;
  background-color: whitesmoke;
  justify-content: first baseline;
  margin:auto
}